.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    /*background-color: #49d0b0;*/

}

.pokemon .number {
    color: #000;
    opacity: 0.1;
    text-align: right;
    font-size: 0.625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}
.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    font-size: 0.625rem;
    /*background-color: #61e1ca;*/
    color: #fff;
    padding: 0.25rem 0.25rem;
    margin: 0.25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}
.pokemon .detail img{
    max-width: 100%;
    height: 70px;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/*---- BACKGROUD COLORS ----*/

.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.fighting {
    background-color: #a85643;
}
.flying {
    background-color: #79a3ff;
}
.poison {
    background-color: #a55b9c;
}
.ground {
    background-color: #eccb56;
}
.rock {
    background-color: #cdbc72;
}
.bug {
    background-color: #c3d21f;
}
.ghost {
    background-color: #7a75d7;
}
.electric {
    background-color: #fde53e;
}
.psychic {
    background-color: #fa65b5;
}
.ice {
    background-color: #96f1ff;
}
.dragon {
    background-color: #8974ff;
}
.dark {
    background-color: #8e6956;
}
.steel {
    background-color: #c4c2db;
}
.fairy {
    background-color: #f9adff;
}




